  
<div class=" min-vh-100 d-flex flex-row align-items-center" style=" background-image:linear-gradient(to right, rgb(184, 180, 187) , rgb(94, 92, 106));" >
  
    <c-container>
      <c-row class="justify-content-center">
        <c-col md="8">
          <c-card-group>
            <c-card class="p-4">
              <c-card-body>
                <form cForm [formGroup]="LoginForm" [validated]="LoginForm.valid" (ngSubmit)="onSubmit()">
                  <h3>{{'Resetpassword_page_Title' | translate}}</h3>
                  <p class="text-medium-emphasis">{{'Resetpassword_page_Sub_Title' | translate}}</p>
                  <c-alert color="warning" class="d-flex align-items-center">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>{{'Resetpassword_page_Status_Warning' | translate}} 'J0hnson@'</div>
                  </c-alert>
                  <c-input-group class="mb-4">
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    
                    <input
                    required
                    autoComplete="current-password"
                    cFormControl
                    formControlName="password"
                    placeholder="{{'Resetpassword_page_PlaceHolder' | translate}}"
                    type="password"
                    [valid]=" (LoginForm.invalid && LoginForm.touched) ?  (LoginForm.get('password')?.valid) ? true : false : undefined"
                    />
                  </c-input-group>
                   
                  <c-input-group class="mb-4">
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input
                    required
                    autoComplete="current-password"
                    cFormControl
                    formControlName="confirmpassword"
                    placeholder="{{'Resetpassword_page_PlaceHolder_Confirm' | translate}}"
                    type="password"
                    [valid]=" (LoginForm.invalid && LoginForm.touched)  ?  (LoginForm.get('confirmpassword')?.valid) ? true : false : undefined"
                    />
                  </c-input-group>
                  
                  
                  <c-row>
                    <c-col xs="6">
                      <button cButton class="px-4" color="primary" type="submit">
                        {{'Resetpassword_page_Button_Confirm' | translate}}
                      </button>
                    </c-col>
                    <c-col class="text-right" xs="6">
                        <a routerLink="/login"  style="text-decoration:none"  class="px-0" color="link"> {{'Login_page_Sub_Title' | translate}}</a>
                      </c-col>
                  </c-row>
                  <br><br>
                  <c-row>
                    <c-col xs="6" > </c-col>
                    <c-col xs="2"  style="margin-left:30%;">
                      <div class="ms-auto" >
                        <div *ngIf="isEn">
                          <flag  (click)="translateSite('en')" [code]="'us'" [size]="'lg'"  [effect]="'round'" style="cursor: pointer;"></flag> 
                        </div>
                        <div *ngIf="isFr">
                          <flag  (click)="translateSite('fr')" [code]="'fr'" [size]="'lg'"  [effect]="'round'" style="cursor: pointer;"></flag>
                        </div>
                      </div>
                    </c-col>
                  </c-row>
                </form>
              </c-card-body>
            </c-card>
            <c-card [ngStyle]="{'width.%': 44}" class="text-white py-5" style="background-color: #022179;">
              <c-card-body class="text-center">
                <div>
                  <img src="assets/images/mark-white.png"  class="responsive">
                </div>
              </c-card-body>
            </c-card>
          </c-card-group>
        </c-col>
      </c-row>
      <c-toaster  [placement]="position" class="p-3" position="fixed">
        <c-toast
       
          [fade]="false"
          [autohide]="false"
          [visible]="visible"
          color="{{color}}">
          <c-toast-header
          [closeButton]="false"
          >
            <svg
              class="rounded me-2"
              width="20"
              height="20"
              xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
              role="img"
            >
              <rect width="100%" height="100%"  [attr.fill]="colorfill"></rect>
          </svg>
            {{status | translate}}
          </c-toast-header>
          <c-toast-body>
            <p><strong>{{ message | translate}}</strong></p>
          
          </c-toast-body>
        </c-toast>
      </c-toaster>
    </c-container>
   </div>
   
  