<c-row ngPreserveWhitespaces>

    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <strong>Angular Card</strong>
            </c-card-header>
            <c-card-body>
                <p class="text-medium-emphasis small">
                    Cards are built with as little markup and styles as possible but still manage to deliver a bunch of control and customization. Built with flexbox, they offer easy alignment and mix well with other CoreUI components. Cards have no top, left, and right
                    margins by default, so use
                    <a href="https://coreui.io/docs/utilities/spacing">spacing utilities</a
          >
          as needed. They have no fixed width to start, so they&#39;ll fill the
          full width of its parent.
        </p>
        <p class="text-medium-emphasis small">
          Below is an example of a basic card with mixed content and a fixed
          width. Cards have no fixed width to start, so they&#39;ll naturally
          fill the full width of its parent element.
        </p>
        <app-docs-example href="components/card">
          <c-card style="width: 18rem;">
            <ng-container *ngTemplateOutlet="imgPlaceholderTemplate"></ng-container>
            <c-card-body>
              <h5 cCardTitle>Card title</h5>
              <p cCardText>
                Some quick example text to build on the card title and make up the bulk of the card's content.
              </p>
              <button cButton color="primary">Go somewhere</button>
            </c-card-body>
          </c-card>
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Card</strong> <small>Body</small>
      </c-card-header>
      <c-card-body>
        <p class="text-medium-emphasis small">
          The main block of a card is the <code>&lt;c-card-body&gt;</code>. Use
          it whenever you need a padded section within a card.
        </p>
        <app-docs-example href="components/card/#body">
          <c-card style="width: 18rem;">
            <c-card-body>This is some text within a card body.</c-card-body>
          </c-card>
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>

</c-row>


<ng-template #imgPlaceholderTemplate let-orientation>
  <svg
    [cCardImg]="orientation ?? 'top'"
    aria-label="Placeholder: Image cap"
    class="docs-placeholder-img"
    focusable="false"
    height="180"
    preserveAspectRatio="xMidYMid slice"
    role="img"
    width="100%"
    xmlns="http://www.w3.org/2000/svg"
  >
    <title>Placeholder</title>
    <rect fill="#868e96" height="100%" width="100%"></rect>
    <text dominant-baseline="middle" dy=".3em" fill="#dee2e6" text-anchor="middle" x="50%" y="50%">Image cap</text>
  </svg>
</ng-template>